%h1
  = current_user.name
  's data

%p Here comes the chart.

- current_user.metrics.each do |m|
  %p
    %b= m.name
  %p
    - m.points.each do |p|
      = p.value

.wrapper{style: 'width: 400px; height: 300px'}
  .ct-chart.ct-perfect-fourth

-# TODO dopasowac punkty w seriach do labelek (w razie gdyby jakichś brakowało) + sort by day!
%script
  window.data = { labels: #{labels}, series: #{series} };
