%h1
  = current_user.name
  's data

%p Here comes the chart.

- current_user.metrics.each do |m|
  %p
    %b= m.name
  %p
    - m.points.each do |p|
      = p.value

.wrapper{style: 'width: 100%; height: 500px'}
  .ct-chart

%script
  window.data = { labels: #{labels}, series: #{series} };
